/*
 * Custom CSS
 */

:root {
  --bs-body-bg: var(--bs-gray-100);
}

html { 
  background: url('https://mdbootstrap.com/img/Photos/Others/images/76.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}